body{
	margin: 0;
	padding: 0;
	background-image: url(img1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: sans-serif;
}

.login-box{
	color: black;
	background-color: rgba(255, 255, 255, 0.7);
	height: 450px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 180px;
	padding: 70px 20px 0px 20px;
}
h2{
	margin: 0;
	padding: 0 0 20px;
	color: #fff;
	text-align: center;
}
.textbox{
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 10px 0px 0px 5px;
	margin: 10px 0;
	border-bottom: 1px solid black;
}
.textbox input{
	border: none;
	outline: none;
	background: none;
	color: black;
	font-size: 18px;
	width: 150px;
	margin: 0 10px;
}
.login-box input[type="button"]{
	border: none;
	outline: none;
	height: 40px;
	width: 250px;
	color: #fff;
	background: rgb(255,38,126);
	cursor: pointer;  /*when we move our cursor on submit button then the cursor(i.e arrow) is replaced with hand type cursor*/
	border-radius: 20px;
	margin-top: 15px;
}

.login-box input[type="button"]:hover{
	background: #efed40;
	color: #262626;
}
.user{
	width: 100px;
	height: 100px;
	border-radius: 100px;
	overflow: hidden;
	position: absolute;
	top: 125px;
	left: 47%;
}
